<!-- Extend the base.html template -->
{% extends "base.html" %}

<!-- Override the title block in the base template -->
{% block title %}
  - Code Input
{% endblock title %}

<!-- Override the content block in the base template -->
{% block content %}
  <style>
    .code {
      min-height: calc({{ num_lines }}em * 1.5 + 2 * 1em);
      min-width: calc({{ num_lines }}em * 1.5 + 2 * 1em);
    }

    #next_btn {
      background-color: rgb(39, 239, 192);
    }

    #main_page_span {
      color: rgb(39, 239, 192);
    }
  </style>
  <!-- Create a form for code input -->
  <form>
    <!-- Textarea for users to paste their code with a placeholder -->
    <textarea 
      class="code" 
      name="code" 
      placeholder="Paste your code 🐍."
      > {{code}}
    </textarea>
    <!-- Div for Save code and Reset Session buttons -->
    <div class="controls">
      <button class="my-btn-class-17" formmethod="post" formaction="{{ url_for('reset_session') }}">
        Reset
      </button>
      <button class="my-btn-class-17" id="next_btn" formmethod="post" formaction="{{ url_for('save_style') }}">
        Continue
      </button>
    </div>
  </form>
{% endblock content %}
