<!-- templates/image.html -->

{% extends "base.html" %}

{% block title %}
  - Your Image
{% endblock title %}

{% block content %}
<style>
    #main_page_span {
        color: rgb(39, 239, 192);
      }
      #back_btn_2 {
        background-color: rgb(39, 239, 192);
      }
</style>
<form>
  {% if image_b64 %}
    <div class="code-picture">
      <img
        src="data:image/png;base64,{{ image_b64 | safe }}"
        alt="Code Image"
      />
    </div>
    <a
    class="my-btn-class-17"
      href="data:image/png;base64,{{ image_b64 | safe }}"
      download="code2img.png"
    >
      Download
    </a>
  {% endif %}
  <div class="controls">
    <button id="back_btn_2" class="my-btn-class-17" formmethod="get" formaction="{{ url_for('code') }}">
      Back 
    </button>
  </div>
</form>
{% endblock content %}