{% extends "base.html" %}

{% block title %}
  - Style Selection
{% endblock title %}

{% block content %}
<style>
  {{ style_definitions }}

  .code {
    background-color: {{ style_bg_color }};
  }

  select {
    height: 2.9em;
    border-radius: 0.5em;
  }

  #save_btn {
    background-color: rgb(39, 239, 192);
  }

  .controls {
    text-align: center; /* Center the controls */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .controls button {
    margin: 5px 0;
  }
</style>
<form method="post" action="{{ url_for('save_style') }}">
  <div class="controls">
    <select name="style" onchange="this.form.submit()">
      {% for style_name in all_styles %}
        <option value="{{ style_name }}" {% if style_name == style %}selected{% endif %}>{{ style_name }}</option>
      {% endfor %}
    </select>
  </div>  
  <div class="code">
    {{ highlighted_code | safe }}
  </div>
  <div class="controls">
    <button class="my-btn-class-17" formmethod="get" formaction="{{ url_for('code') }}">
      Back
    </button>
    <button class="my-btn-class-17" formmethod="get" id="save_btn" formaction="{{ url_for('image') }}">
      Save
    </button>
  </div>
</form>
{% endblock content %}
