
{% extends "base.html" %}

{% block title %}
  - Style Selection
{% endblock title %}

{% block content %}
<style>
  {{ style_definitions }}

  .code {
    background-color: {{ style_bg_color }};
  }

  select {
    height: 2.9em;
    border-radius: 0.5em;
  }

  #change_btn {
    background-color: deepskyblue;
  }

  #get_screenshot_btn {
    background-color: whitesmoke;
    color: whitesmoke;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

</style>
<form>
  <div class="controls">
    <select name="style">
      {% for style_name in all_styles %}
        <option value="{{ style_name }}">{{ style_name }}</option>
      {% endfor %}
    </select>
    <button id="change_btn" class="my-btn-class-17" formmethod="post" formaction="{{ url_for('save_style') }}">
      Change 🐳
    </button>
  </div>  
  <div class="code">
    {{ highlighted_code | safe }}
  </div>
  <div class="controls">
    <button class="my-btn-class-17" id="back_btn" formmethod="get" formaction="{{ url_for('code') }}">
      Back 🕷️
    </button>
    <button class="my-btn-class-17" formmethod="get" id="get_screenshot_btn" formaction="{{ url_for('image') }}">
      Create Image 🥥
    </button>
  </div>
</form>
{% endblock content %}